<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <title>Title</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body class="layui-layout-body">

<div>

    <table id="articleListTable" lay-filter="articleListTable">
    </table>

</div>


<script src="../../layui/layui.js"></script>

<!-- 行的按钮 -->
<script type="text/html" id="barDemo">
    <!--<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-warm layui-btn-xs"  lay-event="edit" title="查看/编辑">
        <i class="layui-icon">&#xe642;</i>
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs"  lay-event="del" title="删除">
        <i class="layui-icon">&#xe640;</i>
    </a>
</script>

<!-- 上方工具条 -->
<script type="text/html" id="barDemo2">
    <a class="layui-btn  layui-btn-radius layui-btn-normal layui-btn-sm" lay-event="new">
        <i class="layui-icon">&#xe608;</i> 新增
    </a>
    <a class="layui-btn  layui-btn-radius layui-btn-danger layui-btn-sm" lay-event="delMore">
        <i class="layui-icon">&#xe640;</i> 批量删除
    </a>
</script>
<script type="text/html" id="isCommentTpl">
    {{#
        var checkedFn = function(){
        return d.isComment ? 'checked':'';
        };
    }}
    <!--lay-text="开启|关闭"-->
    <input type="checkbox" name="isComment" lay-skin="switch"    {{ checkedFn() }} >
</script>
<script type="text/html" id="isRecommendationTpl">
    {{#
    var checkedFn = function(){
    return d.isRecommendation ? 'checked':'';
    };
    }}
    <!--lay-text="开启|关闭"-->
    <input type="checkbox" name="isRecommendation" lay-skin="switch"    {{ checkedFn() }} >
</script>
<script type="text/html" id="isTopTpl">
    {{#
    var checkedFn = function(){
    return d.isTop ? 'checked':'';
    };
    }}
    <!--lay-text="开启|关闭"-->
    <input type="checkbox" name="isTop" lay-skin="switch"    {{ checkedFn() }} >
</script>
<script>
    var layer;
    layui.use(['table', 'layer'], function(){
        var table = layui.table;
        layer = layui.layer;

        //第一个实例
        table.render({
            elem: '#articleListTable'
            ,height: 'full-20'
            ,url: 'articleList.json' //数据接口
            // ,method:'POST'   //laui 修改请求方式
            // ,request: {
            //     pageName: 'currentPageNo' //页码的参数名称，默认：page
            //     ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            // }
            // , response: {
            //     statusName: 'code' //数据状态的字段名称，默认：code
            //     ,countName: 'count' //数据总数的字段名称，默认：count
            //     ,dataName: 'data' //默数据列表的字段名称，默认：data
            //
            // }
            ,title: '用户表'
            ,page: true //开启分页
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left', hide: true}
                ,{field: 'title', title: '标题', width:80}
                ,{field: 'isComment', title: '评论', sort: true, templet: '#isCommentTpl'}
                ,{field: 'isRecommendation', title: '推荐', templet: '#isRecommendationTpl'}
                ,{field: 'isTop', title: '置顶', templet: '#isTopTpl'}
                ,{field: 'browseNum', title: '浏览量', sort: true}
                ,{field: 'commentNum', title: '评论量', sort: true}
                ,{field: 'likeNum', title: '喜欢', sort: true}
                ,{field: 'createDate', title: '发布时间', width: 135, sort: true}
                ,{title: '操作', width: 100, sort: false, toolbar: '#barDemo', fixed: 'right', event:'aa'}
            ]],
            toolbar: '#barDemo2',
            totalRow: false,
        });

        //todo 步骤二  监听事件, '操作'单元格的事件
        table.on('tool(articleListTable)', function(obj){
            var eventType = obj.event;//如果点击到空白的地方, event就是上面定义的 "aa"
            var data = obj.data;
            switch(eventType){
                case 'del':
                    layer.msg('删除');
                    break;
                case 'edit':
                    layer.msg('编辑');
                    editForm(data);
                    break;
            };
        });

        //todo 步骤三 监听工具栏事件
        table.on('toolbar(articleListTable)', function(obj){
            var eventType = obj.event;//如果点击到空白的地方, event就是上面定义的 "aa"
            switch(eventType){
                case 'new':
                    layer.msg('新增');
                    // window.location.href = './articleForm.html';
                    loadMarkdown();
                    break;
            };
        });
    });


    function loadMarkdown() {
        var confirm = parent.layer.confirm('articleManage/articleForm.html', {
            type: 2,
            btn: ['提交','保存草稿','取消'], //按钮
            title: '新增文章',
            skin: 'layui-layer-lan',
            // area: '500px',
            // area: 'auto',
            area: ['50%', '50%'],
            maxmin: true,
            yes: function(index, layero){
                //按钮【按钮一】的回调
                parent.layer.msg('提交按钮');
            }
            ,btn2: function(index, layero){
                //按钮【按钮二】的回调
                parent.layer.msg('保存草稿按钮');
                return false;  //开启该代码可禁止点击该按钮关闭
            }
            ,btn3: function(index, layero){
                //按钮【按钮二】的回调
                parent.layer.msg('取消按钮');
                // return false;  //开启该代码可禁止点击该按钮关闭
            }
            ,cancel: function(){
                //右上角关闭回调
                parent.layer.msg('右上角关闭按钮');
                // return false; // 开启该代码可禁止点击该按钮关闭
            },
            success: function(layero, index){
                parent.layer.full(confirm);//默认最大化
            }
        });
    }

</script>
</body>
</html>