<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <title>分类列表</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body class="layui-layout-body">

<div>

    <table id="categoryListTable" lay-filter="categoryListTable">
    </table>

</div>


<script src="../../layui/layui.js"></script>

<!-- 行的按钮 -->
<script type="text/html" id="barDemo">
   <!-- <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
   <a class="layui-btn layui-btn-warm layui-btn-xs"  lay-event="edit" title="查看/编辑">
       <i class="layui-icon">&#xe642;</i>
   </a>
   <a class="layui-btn layui-btn-danger layui-btn-xs"  lay-event="del" title="删除">
       <i class="layui-icon">&#xe640;</i>
   </a>
</script>

<!-- 上方工具条 -->
<script type="text/html" id="barDemo2">
    <a class="layui-btn  layui-btn-radius layui-btn-normal layui-btn-sm" lay-event="new">
        <i class="layui-icon">&#xe608;</i> 新增
    </a>
    <a class="layui-btn  layui-btn-radius layui-btn-danger layui-btn-sm" lay-event="delMore">
        <i class="layui-icon">&#xe640;</i> 批量删除
    </a>
</script>
<script>
    layui.use(['table','laypage'], function(){
        var table = layui.table;
        var laypage = layui.laypage;

        //第一个实例
        table.render({
            elem: '#categoryListTable'
            ,height: 'full-20'
            ,url: 'categoryList.json' //数据接口
            // ,method:'POST'   //laui 修改请求方式
            // ,request: {
            //     pageName: 'currentPageNo' //页码的参数名称，默认：page
            //     ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            // }
            // , response: {
            //     statusName: 'code' //数据状态的字段名称，默认：code
            //     ,countName: 'count' //数据总数的字段名称，默认：count
            //     ,dataName: 'data' //默数据列表的字段名称，默认：data
            //
            // }
            ,title: '用户表'
            ,page: true //开启分页
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'name', title: '名称', width:80}
                ,{field: 'pId', title: '父级分类id', width:80, sort: true}
                ,{field: 'pName', title: '父级分类', width:80}
                ,{field: 'descn', title: '描述', width: 177}
                ,{field: 'sort', title: '排序', width: 80, sort: true}
                ,{field: 'isEnable', title: '可用', width: 80, sort: true}
                ,{field: 'icon', title: '图标', width: 80}
                ,{title: '操作', width: 100, sort: false, toolbar: '#barDemo', fixed: 'right', event:'aa'}
            ]],
            toolbar: '#barDemo2',
            totalRow: false,
        });

        //todo 步骤二  监听事件, '操作'单元格的事件
        table.on('tool(categoryListTable)', function(obj){
            var eventType = obj.event;//如果点击到空白的地方, event就是上面定义的 "aa"
            var data = obj.data;
            switch(eventType){
                case 'del':
                    layer.msg('删除');
                    break;
                case 'edit':
                    layer.msg('编辑');
                    editForm(data);
                    break;
            };
        });
        //todo 步骤三 监听工具栏事件
        table.on('toolbar(categoryListTable)', function(obj){
            var eventType = obj.event;//如果点击到空白的地方, event就是上面定义的 "aa"
            switch(eventType){
                case 'new':
                    layer.msg('新增');
                    // window.location.href = './articleContentForm.html';
                    loadMarkdown();
                    break;
            };
        });

    });
</script>
</body>
</html>