<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <title>Title</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body class="layui-layout-body">

<div>

    <table id="commentListTable" lay-filter="commentListTable">
    </table>
</div>


<script src="../../layui/layui.js"></script>

<!-- 行的按钮 -->
<script type="text/html" id="barDemo">
    <!--
    <a class="layui-btn layui-btn-xs layui-icon layui-icon-form" title="查看" lay-event="detail"></a>
    -->

    <a class="layui-btn layui-btn-warm layui-btn-xs"  lay-event="edit" title="查看/编辑">
        <i class="layui-icon">&#xe642;</i>
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs"  lay-event="del" title="删除">
        <i class="layui-icon">&#xe640;</i>
    </a>
</script>

<!-- 上方工具条 -->
<script type="text/html" id="barDemo2">
    <a class="layui-btn  layui-btn-radius layui-btn-normal layui-btn-sm" lay-event="new">
        <i class="layui-icon">&#xe608;</i> 新增
    </a>
    <a class="layui-btn  layui-btn-radius layui-btn-danger layui-btn-sm" lay-event="delMore">
        <i class="layui-icon">&#xe640;</i> 批量删除
    </a>
</script>

<!-- 数据回显的样式 -->
<script type="text/html" id="authorFootprintTpl">
    {{#
        var checkedFn = function(){
            return d.authorFootprint ? 'checked':'';
        };
    }}
    {{#
        var disabledFn = function(){
            if ('已通过' == d.status) {
                return '';
            }
            return 'disabled';
        };
    }}

    <input type="checkbox" name="authorFootprint" lay-skin="switch"  lay-text="开启|关闭"  {{ checkedFn() }}  {{disabledFn()}} >
</script>
<script>
    var layer = null;
    var $ = null;
    var form = null;

    layui.use(['table','laypage', 'layer', 'form'], function(){
        var table = layui.table;
        layer = layui.layer;
        $ = layui.jquery;
        form = layui.form;

        //todo 步骤一, 请求数据,进行表格渲染
        table.render({
            elem: '#commentListTable'
            ,height: 'full-20'
            ,url: 'commentList.json' //数据接口
            // ,method:'POST'   //laui 修改请求方式
            // ,request: {
            //     pageName: 'currentPageNo' //页码的参数名称，默认：page
            //     ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            // }
            // , response: {
            //     statusName: 'code' //数据状态的字段名称，默认：code
            //     ,countName: 'count' //数据总数的字段名称，默认：count
            //     ,dataName: 'data' //默数据列表的字段名称，默认：data
            //
            // }
            ,title: '用户表'
            ,page: true //开启分页
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left', hide: true}
                ,{field: 'commenter', title: '评论者'}
                ,{field: 'article', title: '评论文章'}
                ,{field: 'content', title: '评论内容',  sort: true}
                ,{field: 'wellOrBad', title: '赞/踩'}
                ,{field: 'status', title: '状态'}
                ,{field: 'authorFootprint', title: '作者脚印', templet: '#authorFootprintTpl'}
                ,{field: 'ip', title: 'ip地址', sort: true}
                ,{field: 'os', title: '操作系统', sort: true}
                ,{field: 'browser', title: '浏览器'}
                ,{field: 'createTime', title: '评论时间', sort: true}
                ,{title: '操作', width: 100, sort: false, toolbar: '#barDemo', event:'aa', fixed: 'right'}
            ]],
            toolbar: '#barDemo2',
            totalRow: false,
        });

        //todo 步骤二  监听事件, '操作'单元格的事件
        table.on('tool(commentListTable)', function(obj){
            var eventType = obj.event;//如果点击到空白的地方, event就是上面定义的 "aa"
            var data = obj.data;
            switch(eventType){
                case 'del':
                    layer.msg('删除');
                    break;
                case 'edit':
                    layer.msg('编辑');
                    editForm(data);
                    break;
            };
        });
    });

    /**
     * 表单编辑
     * @param data
     */
    function editForm(data) {
        //为表单赋值
        /*form.val("commentForm", {
            "commenter": data.commenter // "name": "value"
            ,"article": data.article
            ,"content": data.content
            ,"wellOrBad": data.wellOrBad
            ,"status": data.status
            ,"authorFootprint": data.authorFootprint
            ,"ip": data.ip
            ,"os": data.os
            ,"browser": data.browser
            ,"createTime": data.createTime
        });*/
        // form.render(null, 'commentForm');


        //询问框
        // 如果用 parent.layer.confirm()  则会在上一层窗口弹出来
        /*parent.layer.confirm('websiteManage/commentForm.html', {
            type: 2,
            id: 'commentEditFormLayer',
            btn: ['提交','取消'], //按钮
            title: '详情',
            skin: 'layui-layer-lan',
            area: '500px',
            yes: function(index, layero){
                //按钮【按钮一】的回调
                var body = layer.getChildFrame('body', index);
                var f = body.find("#commentForm").length;//f会等于1 说明可以获取到id=form表单的长度
                parent.layer.msg(f);
            }
            ,btn2: function(index, layero){
                //按钮【按钮二】的回调
                layer.msg('222');
                //return false 开启该代码可禁止点击该按钮关闭
            }
            ,cancel: function(){
                //右上角关闭回调
                layer.msg('333');
                //return false 开启该代码可禁止点击该按钮关闭
            },
            success: function(layero, index){
                /!*var body = layer.getChildFrame('body', index);
                var f = body.find("#commentForm").length;
                console.log(f);*!/
            }
        });*/

    }

</script>
</body>
</html>