<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>BLOG index with sidebar & slider  | Amaze UI Examples</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
    <style>
        .blog-slider-con {
            padding: 0rem 0rem;
        }
        /*.blog-continue {
            margin: 0 7px 10px 0;
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;

            outline: 0;
            -webkit-appearance: none;
            transition: all .3s;
            -webkit-transition: all .3s;
            box-sizing: border-box;

            vertical-align: middle;

            font-family: inherit;
            font-style: inherit;
        }*/
        .am-thumbnail {
            margin-bottom: 0rem;
        }
        .am-thumbnail-caption {
            text-align: center;
            font-weight: bold;
        }
        #pagination_ul>li>.am-active {
            background-color: #3bb4f2;
        }
    </style>
</head>

<body id="blog">

<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="http://s.amazeui.org/media/i/brand/amazeui-b.png" alt="Amaze UI Logo"/>
        <h2 class="am-hide-sm-only"><!--中国首个开源 HTML5 跨屏前端框架--></h2>
    </div>
</header>
<hr>
<!-- nav start -->
<nav  class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav "><!-- am-nav-tabs -->
            <li class="am-active"><a href="lw-index.html">首页</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    首页布局 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="lw-index.html">1. blog-index-standard</a></li>
                    <li><a href="lw-index-nosidebar.html">2. blog-index-nosidebar</a></li>
                    <li><a href="lw-index-center.html">3. blog-index-layout</a></li>
                    <li><a href="lw-index-noslider.html">4. blog-index-noslider</a></li>
                </ul>
            </li>
           <!-- <li><a href="lw-article.html">标准文章</a></li>
            <li><a href="lw-img.html">图片库</a></li>
            <li><a href="lw-article-fullwidth.html">全宽页面</a></li>
            <li><a href="lw-timeline.html">存档</a></li>-->
            <li><a href="lw-article.html">标签</a></li>
            <li><a href="lw-article.html">分类</a></li>
            <li><a href="lw-article.html">归档(时间轴)</a></li>
        </ul>
        <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
            <div class="am-input-group am-input-group-primary">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
                <span class="am-input-group-btn">
                    <button class="am-btn am-btn-primary" type="button"><span class="am-icon-search"></span></button>
                  </span>
            </div>
        </form>
    </div>
</nav>


<hr>
<!-- nav end -->
<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
    <ul class="am-slides" ><!--  style="font-size: 1rem" -->
      <li >
          <!--  <img src="assets/i/b1.jpg">
            <div class="blog-slider-desc am-slider-desc ">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span class="blog-bor">2015/10/9</span>
                </div>
            </div>-->
          <div class="am-thumbnail">
              <img src="assets/i/b1.jpg">
              <h3 class="am-thumbnail-caption">总在思考一句积极的话</h3>
          </div>
      </li>
      <li>
          <div class="am-thumbnail">
              <img src="assets/i/b2.jpg">
              <h3 class="am-thumbnail-caption">总在思考一句积极的话</h3>
          </div>
      </li>
      <li>
          <div class="am-thumbnail">
              <img src="assets/i/b3.jpg">
              <h3 class="am-thumbnail-caption">总在思考一句积极的话</h3>
          </div>
      </li>
      <li>
          <div class="am-thumbnail">
              <img src="assets/i/b2.jpg">
              <h3 class="am-thumbnail-caption">总在思考一句积极的话</h3>
          </div>
      </li>
    </ul>
    </div>
</div>
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <div id="articleListDiv">
       <!-- <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span class="am-badge am-badge-danger am-radius">new</span>
                <span title="更新时间"><img src="../third-plugin/image/date.svg" style="width: 1.8rem;">&nbsp;&nbsp;2015/10/9</span>
                &nbsp;
                <span title="阅读量" ><img src="../third-plugin/image/readNum.svg" style="width: 2.5rem;">1234567890</span>
                <h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>
                <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
                    我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
                    我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
                </p>
                <p >
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;spring</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;java</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;html</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;javascript</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;js</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;mybatis</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;springboot</a>
                </p>
                <p><a href="" class="am-btn am-btn-primary am-round"><img src="../third-plugin/image/read1.svg" style="width: 2.5rem;">&nbsp;&nbsp;continue reading</a></p>
            </div>
        </article>-->
<!--

        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="assets/i/f6.jpg" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span title="更新时间"><img src="../third-plugin/image/date.svg" style="width: 1.8rem;">&nbsp;&nbsp;2015/10/9</span>
                &nbsp;
                <span title="阅读量" ><img src="../third-plugin/image/readNum.svg" style="width: 2.5rem;">1234567890</span>
                <h1><a href="">世间所有的相遇，都是久别重逢。</a></h1>
                <p>你可以选择在原处不停地跟周遭不解的人解释你为何这么做，让他们理解你，你可以选择什么都不讲，自顾自往前走。
                </p>
                <p>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;spring</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;java</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;html</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;javascript</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;js</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;mybatis</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;springboot</a>
                </p>
                <p><a href="" class="am-btn am-btn-primary am-round"><img src="../third-plugin/image/read1.svg" style="width: 2rem">&nbsp;&nbsp;continue reading</a></p>
            </div>
        </article>
-->

      <!--  <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="assets/i/f12.jpg" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span class="am-badge am-badge-danger am-radius">new</span>
                <span title="更新时间"><img src="../third-plugin/image/date.svg" style="width: 1.8rem;">&nbsp;&nbsp;2015/10/9</span>
                &nbsp;
                <span title="阅读量" ><img src="../third-plugin/image/readNum.svg" style="width: 2.5rem;">1234567890</span>
                <h1><a href="">陌上花开，可缓缓归矣。</a></h1>
                <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。我们就在骑楼下躲雨，看绿色的邮筒孤独地站在街的对面。
                </p>
                <p>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;spring</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;java</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;html</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;javascript</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;js</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;mybatis</a>
                    <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;springboot</a>
                </p>
                <p><a href="" class="am-btn am-btn-primary am-round"><img src="../third-plugin/image/read1.svg" style="width: 2rem">&nbsp;&nbsp;continue reading</a></p>
            </div>
        </article>-->
        </div>


        <ul class="am-pagination am-pagination-centered" id="pagination_ul">

        </ul>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <!--<img src="assets/i/f14.jpg" alt="about me" class="blog-entry-img" >-->
            <img src="../third-plugin/image/ying2.png" alt="嘤剑士-阿修萝" title="嘤剑士-阿修萝" class="blog-entry-img am-img-thumbnail" >
            <p>嘤剑士-阿修萝</p>
            <p>
                这里是个性签名
            </p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div id="TAG_cloud" class="am-u-sm-12 blog-clear-padding">
         <!--   <a href="" class="blog-tag">amaze</a>
            <a href="" class="blog-tag">妹纸 UI</a>
            <a href="" class="blog-tag">HTML5</a>
            <a href="" class="blog-tag">这是标签</a>
            <a href="" class="blog-tag">Impossible</a>
            <a href="" class="blog-tag">开源前端框架</a>-->
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Recommend</span></h2>
            <ul class="am-list" id="recommend_ul" style="text-align: left">
               <!-- <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                <li><a href="#">我把最深沉的秘密放在那里。</a></li>
                <li><a href="#">你不懂我，我不怪你。</a></li>
                <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>-->
            </ul>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Hot</span></h2>
            <ul class="am-list" id="hot_ul" style="text-align: left">
                <!--<li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                <li><a href="#">我把最深沉的秘密放在那里。</a></li>
                <li><a href="#">你不懂我，我不怪你。</a></li>
                <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>-->
            </ul>
        </div>
    </div>


    <a href="#">
        <img src="../third-plugin/image/top.svg" title="top" style="width: 5rem;height: 5rem;position: fixed;bottom: 2rem;right: 0.5rem;z-index: 9999;" />
    </a>
</div>
<!-- content end -->



  <footer class="blog-footer">

    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
       <!-- <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>模板简介</h3>
            <p class="am-text-sm">这是一个使用amazeUI做的简单的前端模板。<br> 博客/ 资讯类 前端模板 <br> 支持响应式，多种布局，包括主页、文章页、媒体页、分类页等<br>嗯嗯嗯，不知道说啥了。外面的世界真精彩<br><br>
            Amaze UI 使用 MIT 许可证发布，用户可以自由使用、复制、修改、合并、出版发行、散布、再授权及贩售 Amaze UI 及其副本。</p>
        </div>-->
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交账号</h3>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
            <!--<h3>Credits</h3>-->
            <!--<p>我们追求卓越，然时间、经验、能力有限。Amaze UI 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>          -->
        </div>
       <!-- <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
              <h1>我们站在巨人的肩膀上</h1>
             <h3>Heroes</h3>
            <p>
                <ul>
                    <li>jQuery</li>
                    <li>Zepto.js</li>
                    <li>Seajs</li>
                    <li>LESS</li>
                    <li>...</li>
                </ul>
            </p>
        </div>-->
    </div>
    <div class="blog-text-center">© 2019 Made with love By zyz</div>
  </footer>


<!-- todo 这个div用来拼接 文章列表 -->
<div style="display: none" id="articleAppendDiv">

    <article class="am-g blog-entry-article">
        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
            <img id="coverImg" src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
        </div>
        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
            <span id="statusSpan" class="am-badge am-badge-danger am-radius">new</span>
            <span title="更新时间"><img src="../third-plugin/image/date.svg" style="width: 1.8rem;">&nbsp;&nbsp;<span id="updateTimeSpan">2015/10/9</span></span>
            &nbsp;
            <span title="阅读量" ><img src="../third-plugin/image/readNum.svg" style="width: 2.5rem;"><span id="readNumSpan">1234567890</span></span>
            <h1><a href="" id="titleA">我本楚狂人，凤歌笑孔丘</a></h1>
            <p id="descnP">我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
                我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
                我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
            </p>
            <p id="tagsP">
                <!--<a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;spring</a>-->
                <!--<a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;java</a>-->
                <!--<a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;html</a>-->
            </p>
            <p><a href="" id="a_continueReading" class="am-btn am-btn-primary am-round"><img src="../third-plugin/image/read1.svg" style="width: 2.5rem;">&nbsp;&nbsp;continue reading</a></p>
        </div>
    </article>

</div>


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<!--<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->

<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>

<script>
    // $("#top_nav").load('index/top-nav.html');
    /**
     * 标签云
     * */
    // $.get('tagCloud.json', function (data) {
    $.get('/webapp/index/tagCloud', function (rs) {
        var data = rs.data;
        var html = '';
        if (data == null) {
            $("#TAG_cloud").html(html);
            return;
        }
        for (var i = 0; i < data.length; i++) {
            var o = data[i];
            html += ' <a href="'+o.url+'" class="blog-tag">'+o.name+'</a>';
        }
        $("#TAG_cloud").append(html);
    });
    /**
     * 推荐
     * */
    // $.get('recommend.json', function (data) {
    $.get('/webapp/index/findArticle?remark=recommend&pageNo=1&pageSize=5', function (rs) {
        var data = rs.data;
        console.log('recommend', data);
        var html = '';
        if (data == null) {
            $("#recommend_ul").html(html);
            return;
        }
        for (var i = 0; i < data.length; i++) {
            var o = data[i];
            html += ' <li><a href="lw-article-fullwidth.html?'+o.arId+'"><img style="width: 2rem" src="../third-plugin/image/recommend.svg" />&nbsp;&nbsp;'+o.title+'</a></li>';
        }
        $("#recommend_ul").append(html);
    });

    /**
     * 热门
     * */
    // $.get('recommend.json', function (data) {
    $.get('/webapp/index/findArticle?remark=hot&pageNo=1&pageSize=5', function (rs) {
        var data = rs.data;
        console.log('hot', data);
        var html = '';
        if (data == null) {
            $("#hot_ul").html(html);
            return;
        }
        for (var i = 0; i < data.length; i++) {
            var o = data[i];
            html += ' <li><a href="lw-article-fullwidth.html?'+o.arId+'"><img style="width: 2rem" src="../third-plugin/image/hot.svg" />&nbsp;&nbsp;'+o.title+'</a></li>';
        }
        $("#hot_ul").append(html);
    });

    /**
     * 查找文件, 根据最新修改时间排序
     * @param pageNo
     */
    function findArticle(pageNo) {
        var pageSize = 5;
        $.ajax({
            type: 'get',
            url: '/webapp/index/findArticle',
            data: {
                pageNo: pageNo,
                pageSize: pageSize,
                v: '1'
            },
            dataType: 'json',
            success: function (rs) {
                var totalCount = rs.totalCount;
                //拼接 分页
                this.pagination(totalCount);
                //拼接 文章列表
                this.article(rs.data);
            },
            error: function (rs) {
                console.log(rs);
            },
            pagination: function (totalCount) {
                //清空
                $("#pagination_ul").html('');

                var pageHtml = '  <li ><a href="">&laquo; Prev</a></li>';
                var totalPage = totalCount / pageSize;
                if (totalCount % pageSize != 0) {
                    totalPage += 1;
                }
                for (var i = 1; i <= totalPage; i++) {
                    if (i == pageNo) {
                        pageHtml += '<li ><a href="#" onclick="findArticle('+i+')" class="am-active">'+i+'</a></li>';
                    } else {
                        pageHtml += '<li ><a href="#" onclick="findArticle('+i+')" >'+i+'</a></li>';
                    }
                }
                pageHtml += ' <li ><a href="">Next &raquo;</a></li>';

                $("#pagination_ul").append(pageHtml);
            },
            article: function (data) {
                console.log(data);
                $('#articleListDiv').html('');
                var resultHtml = '';
                if (data == null) {
                    $('#articleListDiv').html(resultHtml);
                    return;
                }
                for (var i = 0; i < data.length; i++) {
                    var o = data[i];
                    var imgUrl = o.imgAbsUrl;
                    if (imgUrl == null || imgUrl == '') {
                        //默认图片
                       imgUrl = '../third-plugin/image/ying2.png';
                    }
                    var status = null;
                    if (o.avs != null) {
                        if (o.avs.length == 1) {
                            status = "new";
                        } else {
                            status = 'update';
                        }
                    }

                    resultHtml += ' <article class="am-g blog-entry-article">' +
                        '        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">' +
                        '            <img  src="'+imgUrl+'" alt="" class="am-u-sm-12">' +
                        '        </div>' +
                        '        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">' ;
                    if (status != null && status != '') {
                        resultHtml +=
                            '            <span id="statusSpan" class="am-badge am-badge-danger am-radius">'+status+'</span>';
                    }

                    resultHtml +=
                        '            <span title="更新时间"><img src="../third-plugin/image/date.svg" style="width: 1.8rem;">&nbsp;&nbsp;<span id="updateTimeSpan">'+o.updateTime+'</span></span>' +
                        '            &nbsp;' +
                        '            <span title="阅读量" ><img src="../third-plugin/image/readNum.svg" style="width: 2.5rem;"><span id="readNumSpan">'+o.browseNum+'</span></span>' +
                        '            <h1><a href="lw-article-fullwidth.html?'+o.arId+'" id="titleA" title="'+o.title+'">'+o.title+'</a></h1>' +
                        '            <p id="descnP">' +o.descn
                        '            </p>' ;
                    var tags = o.tags;
                    if (tags != null) {
                        var tagHtml = '<p id="tagsP">';
                        for (var j = 0; j < tags.length; j++) {
                            var tag = tags[j];
                            tagHtml += ' <a><img src="../third-plugin/image/tag.svg" style="width: 1.8rem;">&nbsp;'+tag.name+'</a>';
                        }
                        resultHtml += tagHtml ;
                        resultHtml += '</p>';
                    }
                    resultHtml +=
                        '            <p><a href="lw-article-fullwidth.html?'+o.arId+'" title="'+o.title+'" id="a_continueReading" class="am-btn am-btn-primary am-round"><img src="../third-plugin/image/read1.svg" style="width: 2.5rem;">&nbsp;&nbsp;continue reading</a></p>' +
                        '        </div>' +
                        '    </article>';
                }
                $('#articleListDiv').append(resultHtml);
            }
        });
    }
    $(function () {
        findArticle(1);
    });

</script>

</body>
</html>